@font-face {
    font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
	src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
	src: url('/fonts/OpenSans-MediumItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
	src: url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
  font-family: Open Sans, serif;
}

h1, h2, h3, h4  {
  font-family: Open Sans, sans-serif;
}

code {
  font-family: Consolas, monospace;
  font-size: 85%;
}
